@model E_Commerce_CuidadoConElPerro.Models.Empleado

@{
    ViewData["Title"] = "Registrar Empleado";
}
<div class="text-center">
    <h1 class="text-primary">Empleados</h1>
    <img src="~/img/empleados.svg" alt="Image de empleados" style="width: 200px; height: 200px" />
</div>

<form asp-action="AgregarEmpleado" method="post" class="form-group" enctype="multipart/form-data">
    <div class="text-center row">
        <div class="col-md-4">
            <label for="validationDefault01" class="form-label">Nombre del empleado:</label>
            <input type="text" asp-for="NombreEmpleado" class="form-control" id="validationDefault01" required>
        </div>
        <div class="col-md-4">
            <label for="validationDefault02" class="form-label">Usuario:</label>
            <input type="text" asp-for="Usuario" class="form-control" id="validationDefault02" required>
        </div>
        <div class="col-md-4">
            <label for="validationDefault02" class="form-label">Contraseña:</label>
            <div class="input-group">
                <input ID="Password" type="Password" asp-for="Contrasenia" Class="form-control" required>
                <div class="input-group-append">
                    <span class="input-group-text">
                        <input ID="ShowPassword" type="checkbox" />
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label for="validationDefault04" class="form-label">Rol:</label>
            <select class="custom-select" asp-for="IdRol" id="validationDefault04" required>
                <option selected>Escoje un rol</option>
                @foreach (Rol item in ViewBag.Rol)
                {
                    <option value="@item.IdRol">@item.Usuario</option>
                }
            </select>
        </div>
        <div class="col-md-10">
            <br />
            <br />
            <button class="btn btn-primary" id="toastDefault" type="submit">Registrar Empleado</button>
        </div>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function mostrarPassword() {
            var cambio = document.getElementById("txtPassword");
            if (cambio.type == "password") {
                cambio.type = "text";
                $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
            } else {
                cambio.type = "password";
                $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
            }
        }

        $(document).ready(function () {
            //CheckBox mostrar contraseña
            $('#ShowPassword').click(function () {
                $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
            });
        });
    </script>
}
