@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Cuidado Con El Perro</title>
    <link rel="shortcut icon" href="~/img/perro.svg">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/assets/css/Article-List.css">
    <link rel="stylesheet" href="~/assets/css/Banners.css">
    <link rel="stylesheet" href="~/assets/css/Beautiful-Footer.css">
    <link rel="stylesheet" href="~/assets/css/best-carousel-slide.css">
    <link rel="stylesheet" href="~/assets/css/Bold-BS4-Footer-Big-Logo.css">
    <link rel="stylesheet" href="~/assets/css/Brands.css">
    <link rel="stylesheet" href="~/assets/css/carousel-circulo.css">
    <link rel="stylesheet" href="~/assets/css/Dark-Footer-1.css">
    <link rel="stylesheet" href="~/assets/css/Dark-Footer-2.css">
    <link rel="stylesheet" href="~/assets/css/Dark-Footer-3.css">
    <link rel="stylesheet" href="~/assets/css/Dark-Footer-4.css">
    <link rel="stylesheet" href="~/assets/css/Dark-Footer.css">
    <link rel="stylesheet" href="~/assets/css/Dark-Mode-Switch.css">
    <link rel="stylesheet" href="~/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="~/assets/css/Header---Apple.css">
    <link rel="stylesheet" href="~/assets/css/header-1-1.css">
    <link rel="stylesheet" href="~/assets/css/header-1-2.css">
    <link rel="stylesheet" href="~/assets/css/header-1.css">
    <link rel="stylesheet" href="~/assets/css/header-2.css">
    <link rel="stylesheet" href="~/assets/css/Header-Dark.css">
    <link rel="stylesheet" href="~/assets/css/header.css">
    <link rel="stylesheet" href="~/assets/css/Highlight-Phone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="~/assets/css/Model-Cards-1.css">
    <link rel="stylesheet" href="~/assets/css/navbar-shoppingcart-ecommerce.css">
    <link rel="stylesheet" href="~/assets/css/Navigation-e-commerce.css">
    <link rel="stylesheet" href="~/assets/css/Pretty-Footer.css">
    <link rel="stylesheet" href="~/assets/css/promot-01.css">
    <link rel="stylesheet" href="~/assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="~/assets/css/styles.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-lg">
            <div class="container-fluid">

                <a class="logo mr-lg-3 pr-lg-3" href="#">
                    <img src="~/img/perro.svg" style="width: 50px; height: 50px;" alt="SAJ ADV">
                </a>

                <div class="navbar-tools order-lg-1">
                    <div class="d-inline-block pr-1 navbar-search">
                        <input class="form-control" type="search">
                        <div class="dropdown-menu">
                            <a class="dropdown-item py-2 px-3" href="#">
                                <span class="navbar-icon navbar-icon-atd"></span>
                                <span>Lorem Ipsum sit is simply dummy text of the printing and typesetting industry.</span>
                            </a>
                            <a class="dropdown-item py-2 px-3" href="#">
                                <span class="navbar-icon navbar-icon-people"></span>
                                <span>Lorem Ipsum sit is simply dummy text of the printing and typesetting industry.</span>
                            </a>
                            <a class="dropdown-item py-2 px-3" href="#">
                                <span class="navbar-icon navbar-icon-folder"></span>
                                <span>Lorem Ipsum sit is simply dummy text of the printing and typesetting industry.</span>
                            </a>
                            <a class="dropdown-item py-2 px-3" href="#">
                                <span class="navbar-icon navbar-icon-doc"></span>
                                <span>Lorem Ipsum sit is simply dummy text of the printing and typesetting industry.</span>
                            </a>
                            <a class="dropdown-item py-2 px-3" href="#">
                                <span class="navbar-icon navbar-icon-intimations"></span>
                                <span>Lorem Ipsum sit is simply dummy text of the printing and typesetting industry.</span>
                            </a>
                            <div class="px-3 pt-2 text-center">
                                <a class="d-block" href="#">mais resultados</a>
                                <span class="d-block legend">1 - 10 de 22000</span>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown d-inline-block px-1 navbar-notification">
                        <a class="d-block position-relative" href="#" data-toggle="dropdown">
                            <img src="~/assets/img/messages.png">
                            <span class="badge badge-pill badge-notification">5</span>
                        </a>
                        <div class="dropdown-menu">
                            <div class="dropdown-header">Notificações</div>
                            <a class="dropdown-item py-2 pr-3 pl-4" href="#">
                                <span>07/02/2018 11:17 <strong>Advogado SAJ ADV</strong></span>
                                <p>O relatório contas-pagar-receber-por-dia foi gerado com sucesso</p>
                            </a>
                            <a class="dropdown-item py-2 pr-3 pl-4 active" href="#">
                                <span>07/02/2018 11:17 <strong>Advogado SAJ ADV</strong></span>
                                <p>O relatório contas-pagar-receber-por-dia foi gerado com sucesso</p>
                            </a>
                            <a class="dropdown-item py-2 pr-3 pl-4" href="#">
                                <span>07/02/2018 11:17 <strong>Advogado SAJ ADV</strong></span>
                                <p>O relatório contas-pagar-receber-por-dia foi gerado com sucesso</p>
                            </a>
                            <a class="dropdown-item py-2 pr-3 pl-4" href="#">
                                <span>07/02/2018 11:17 <strong>Advogado SAJ ADV</strong></span>
                                <p>O relatório contas-pagar-receber-por-dia foi gerado com sucesso</p>
                            </a>
                        </div>
                    </div>
                    <div class="dropdown d-inline-block px-1">
                        <a class="d-block" href="#" data-toggle="dropdown">
                            <img src="~/assets/img/config.png">
                        </a>
                        <div class="dropdown-menu">
                            <div class="dropdown-header">Gerais</div>
                            <a class="dropdown-item" href="#">
                                <span class="navbar-icon"></span> Área do cliente
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="navbar-icon navbar-icon-config"></span> Cadastros Gerais
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="navbar-icon navbar-icon-config"></span> Configurações de Notificação
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="navbar-icon navbar-icon-pencil"></span> Personalização
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="navbar-icon navbar-icon-reports"></span> Importação de Dados
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="navbar-icon navbar-icon-reports"></span> Registro de Acesso ao Sistema
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="navbar-icon navbar-icon-reports"></span> Relatórios
                            </a>
                        </div>
                    </div>
                    <div class="dropdown d-inline-block pl-1">
                        <a class="d-block" href="#" data-toggle="dropdown">
                            <img class="user-photo" src="https://sajadv.s3-sa-east-1.amazonaws.com/1/foto-pessoa-perfil/-783009143_1471629786795_1_1.png?pfdrid_c=true">
                        </a>
                        <div class="dropdown-menu user">
                            <div class="dropdown-header">Advogado SAJ ADV</div>
                            <a class="dropdown-item" href="#">
                                <span class="navbar-icon"></span> Meus Dados
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="navbar-icon"></span> Meu Plano
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="navbar-icon navbar-icon-key"></span> Alterar Senha
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="navbar-icon"></span> Área do Assinante
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="navbar-icon"></span> Wizzard
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="navbar-icon navbar-icon-exit"></span> Sair
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.navbar-tools -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- /.navbar-toggler -->

                <div class="navbar-collapse collapse order-lg-0" id="navbar">
                    <ul class="navbar-nav mr-2">
                        <li class="nav-item">
                            <a class="nav-link nav-link-home" href="#">
                                <img class="icon-home" src="~/img/prenda.svg" style="width: 30px; height: 30px;" alt="Todos">
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" data-toggle="dropdown">Nuevos</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">
                                    <span class="navbar-icon navbar-icon-atd"></span> Pantalones
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="navbar-icon navbar-icon-people"></span> Sudaderas
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="navbar-icon navbar-icon-reports"></span> Chamarras
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" data-toggle="dropdown">Mujeres</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">
                                    <span class="navbar-icon navbar-icon-calendar"></span> Blusas
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="navbar-icon navbar-icon-reports"></span> Pantalones
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="navbar-icon"></span> Vestidos
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" data-toggle="dropdown">Hombres</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">
                                    <span class="navbar-icon navbar-icon-doc"></span> Playeras
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="navbar-icon navbar-icon-intimations"></span> Sudaderas
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="navbar-icon navbar-icon-doc"></span> Chamarra
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" data-toggle="dropdown">Niños</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">
                                    <span class="navbar-icon navbar-icon-revenue"></span> Receitas e Despesas
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="navbar-icon navbar-icon-bills"></span> Contas a Pagar e Receber
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="navbar-icon navbar-icon-paper"></span> Extrato de Conta, Caixa e Banco
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="navbar-icon navbar-icon-paper"></span> Solicitações
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="navbar-icon navbar-icon-paper"></span> Integração de Receitas
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="navbar-icon navbar-icon-paper"></span> Integração de Despesas
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="navbar-icon navbar-icon-reports"></span> Relatórios
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

            </div>
            <!-- /.container -->
        </nav>
        <!-- /.navbar -->
    </header>
    <div>
        @RenderBody()
    </div>
    <footer class="bg-dark text-white border-top border-info">
        <div class="container text-center text-sm-left position-relative py-5">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <h3 class="text-info pb-2 border-bottom border-info text-center">Manuel Francisco Peña</h3>
                    <ul class="list-unstyled d-inline-block d-sm-block">
                        <li class="mb-2 ml-5"><a class="text-light" href="#"><i class="fa fa-github"></i> Github</a></li>
                        <li class="mb-2 ml-5"><a class="text-light" href="#"><i class="fa fa-facebook-official"></i> Facebook</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h3 class="text-info pb-2 border-bottom border-info text-center">Martín González Miranda</h3>
                    <ul class="list-unstyled d-inline-block d-sm-block">
                        <li class="mb-2 ml-5"><a class="text-light" href="#"><i class="fa fa-github"></i> Github</a></li>
                        <li class="mb-2 ml-5"><a class="text-light" href="#"><i class="fa fa-facebook-official"></i> Facebook</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h3 class="text-info pb-2 border-bottom border-info text-center">Ivan Cordova Rodriguez</h3>
                    <ul class="list-unstyled d-inline-block d-sm-block">
                        <li class="mb-2 ml-5"><a class="text-light" href="#"><i class="fa fa-github"></i> Github</a></li>
                        <li class="mb-2 ml-5"><a class="text-light" href="#"><i class="fa fa-facebook-official"></i> Facebook</a></li>
                    </ul>
                </div>
            </div>
            <div class="text-center position-absolute w-100 mt-4"><a href="#top"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-dark"></i><i class="fa fa-angle-up fa-stack-1x text-white"></i></span></a></div>
        </div>
        <div class="pt-5 pb-4 bg-info text-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4 text-center text-md-left pb-4">
                        <h2 class="mb-3"><i class="fa fa-truck"></i>&nbsp;Cuidado Con El Perro</h2>
                        <p class="mb-1"><i class="fa fa-map-marker fa-fw"></i>&nbsp;San Diego- Capitán Antonio Férnandez</p>
                        <p class="mb-1"><i class="fa fa-phone fa-fw"></i>&nbsp;231 143 4214</p>
                        <p class="mb-1"><i class="fa fa-envelope fa-fw"></i>&nbsp;<a class="text-dark" href="mailto:mtn.gm@gmail.com">mtn.gm@gmail.com</a></p>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center text-md-left pb-4">
                        <p class="my-3">Esta página web es el entrgrable como proyecto final de la materia de Programación Web.</p>
                    </div>
                    <div class="col-lg-4 text-center text-lg-right pb-4">
                        <h3 class="mb-0">Siguenos</h3>
                        <p class="mb-2">Subscribete a nuestras noticias</p>
                        <form class="d-flex justify-content-center justify-content-lg-end">
                            <div class="form-group w-75">
                                <div class="input-group">
                                    <input class="form-control" type="text" required="" placeholder="Correo Electrónico" pattern="[a-z0-9._%+-]+@@[a-z0-9.-]+\.[a-z]{2,15}$" inputmode="email">
                                    <div class="input-group-append"><button class="btn btn-dark" type="submit">Aquí!</button></div>
                                </div>
                            </div>
                        </form>
                        <div><a class="text-dark mx-2 mx-lg-0 ml-lg-3" href="#"><i class="fa fa-twitter fa-2x"></i></a><a class="text-dark mx-2 mx-lg-0 ml-lg-3" href="#"><i class="fa fa-facebook-square fa-2x"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center text-lg-left py-2 small bg-dark text-info font-italic">
            <div class="container">
                <p class="m-0">&copy; 2021 ~ Martín ~ Manuel ~ Iván</p>
            </div>
        </div>
    </footer>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/Dark-Mode-Switch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="~/assets/js/Simple-Slider.js"></script>



</body>

</html>